@page "{id:int}"
@model ForeningWeb.Pages.Donations.DetailsModel

<h1>Donation</h1>

<div>
    <strong>MobilePay:</strong> @Model.Item?.MobilePayNummer
</div>
<div>
    <strong>Besked:</strong> @Model.Item?.Besked
</div>
<div>
    @if (User.HasClaim("role", "admin"))
    {
        <a asp-page="Edit" asp-route-id="@Model.Item?.Id">Rediger</a> |
    }
    <a asp-page="Index">Tilbage</a>
</div>
